<configuration>
    <conversionRule conversionWord="levelHighlight" converterClass="ua.lann.protankiserver.LogbackCustomHighlighting" />

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%blue([%d{HH:mm:ss.SSS}]) %magenta([%t]) %yellow([%logger/%levelHighlight(%level)]) %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
