<configuration>
    <conversionRule conversionWord="levelHighlight" converterClass="ua.lann.protankiserver.logger.LogbackCustomLevelHighlighting" />
    <conversionRule conversionWord="messageHighlight" converterClass="ua.lann.protankiserver.logger.LogbackCustomMessageHighlighting" />

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%blue([%d{HH:mm:ss.SSS}]) %magenta([%t]) %yellow([%logger]) %levelHighlight([%level]) %messageHighlight(%msg%n)</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
